.contenido 
    margin-bottom: 4rem
    justify-content: space-evenly
    contenedor()

.caja
    max-width: 43rem
    caja-sombra()
    &__contenido 
        padding: 2rem
        background-color: Color-claro
        span
            font-family: Fuente2
            text-transform: uppercase
            color: Color-secundario
        h3
            font-family: Fuente2
            font-weight: normal
            text-transform: uppercase