.buscador
    todo-al-centro()
    width: 100%
    height: 25rem
    background: url("../images/cover.jpg") no-repeat center
    background-size: cover
    &__input 
        width: 100%
        height: 6rem
        padding: 2rem
        font-size: 2.5rem
        border: none
        border-radius: 3rem
        outline: none
    form
        width: 96%
        max-width: 108.8rem 