$Fuente1: "Lato", sans-serif;
$Fuente2: "Oswald", sans-serif;
$color-primario: #333333;
$color-claro: #ffffff;
$color-secundario: #8841DA;
$color-variacion: #3f579a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: $Fuente1;
}

body {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

main {
    display:flex;
    width: 100%;
    height: 100vh;
}

.perfil {
    width: 50%;
    padding-top: 5rem;
    color: $color-claro;
    background-color: $color-secundario;
    &__avatar { 
        width: 5rem;
        height: 5rem;
        margin: 0 auto;
        img {
            border-radius: 50rem;
        }
    }
    &__nombre {
        font-size: 2rem;
        font-family: $Fuente2;
        text-transform: uppercase;
        text-align: center;
    }
    &__titulo {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    &__boton {
        display: block;
        width: 10rem;
        height: 4rem;
        margin: 1.5rem auto;
        padding-top: 1.5rem;
        font-family: $Fuente2;
        color: $color-claro;
        text-transform: uppercase;
        text-align: center;
        border-radius: 2rem;
    }
}

.estadistica--perfil {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 9rem;
    padding-top: 1.5rem;
    margin: 0 auto;
    border-radius: 2rem;
    background-color: $color-claro;
    h3 {
        font-size: 2rem;
        font-weight: 600;
        font-family: $Fuente2;
        text-align: center;
        text-transform: uppercase;
    }

    span {
        font-size: 1.2rem;
        font-family: $Fuente2;
        text-align: center;
        text-transform: uppercase;
    }
}