.contenido 
    justify-content: space-evenly
    contenedor()

.caja
    max-width: 43rem
    margin-top: 3rem
    caja-sombra()
    &__contenido 
        padding: 2rem
        background-color: Color-claro
        span
            titulos(Fuente2)
            color: Color-secundario
        h3
            font-weight: normal
            titulos(Fuente2)

.noticias 
    margin-bottom: 9.5rem
    &__caja:nth-child(2) h3
        height: 5.4rem