.encabezado--con-filtros
    justify-content: space-evenly
    align-items: center
    contenedor()
    margin: 1rem auto
    h2 
        font-size: 5rem
        titulos(Fuente2)
    .filtros
        todo-al-centro()
        width: 25rem
        // height: 7.5rem
        padding: 2rem
        // margin-left: auto
        caja-sombra()
        span
            titulos(Fuente2)
        a 
            margin-left: 2rem
            font-size: 2.5rem
            color: Color-primario