-var titulo = "Titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var subtitulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
//- -var usuario = "David"

mixin caja(imagen, titulo, contenido)
    .caja
        figure.caja__imagen: img(src="../images/"+imagen)
        .caja__contenido 
            h3=titulo
            p=contenido

doctype html
html(lang="en")
    include ./head.pug
    body 
        header 
            h1 PlatziGames
            if usuario
                a Hola #{usuario}
            else
                a.boton(href="#") Registro
        block contenidos