.contenedor--cajas {
	max-width: 140rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}

.caja {
	max-width: 43rem;
	@include caja;
	&__contenido {
		padding: 2.5rem;
		background-color: $color-claro;		
	}
	&__categoria {
		color: $color-secundario;
		@include titulos($Fuente2);
	}
}

.contenedor--cajas .caja a {
	color: $color-variacion;
	@include titulos($Fuente2);
}

.contenido {
	margin-bottom: 4rem;
	justify-content: space-evenly;
	display: flex;
	width: 90%;
	margin: 0 auto;
	padding: 3rem 0;
} 

.caja--con-fondo {
	display: block;
	box-shadow: none;
	position: relative;
	overflow: hidden;
	background-color: $color-primario;
	img {
		display: block;
		max-width: 100%;
		max-height: auto;
		position: absolute;
		opacity: 0.5;
		object-fit: contain;
	}
	&__contenido {
		padding: 2rem;
		position: absolute;
		text-align: center;
		color: $color-claro;
		p {
			color: $color-claro;
		}
		h3 {
			color: $color-claro;
		}
	}
	&__categoria {
		display: block;
		width: auto;
		max-width: 10rem;
		margin: 0 auto;
		text-align: center;
		background-color: $color-secundario;
		color: $color-claro;
		@include titulos($Fuente2);
	}
}

.caja--grande {
	max-width: 100rem;
	height: 55rem;
	h2 {
		@include titulos($Fuente2);
		@include font-size(5rem);
	}
	.caja--con-fondo__contenido {
		padding-top: 20rem;
	}
}

.caja--mediana {
	max-width: 60rem;
	height: 25rem;
}

.caja--pequeña {
	max-width: 30rem;
	height: 25rem;
}





