.sombra-caja {
  -webkit-box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
          box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
}
.Oswald {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  line-height: 19px;
  color: #333333;
  background-color: #333333;
}
html .intro {
  background-color: #8841da;
}
html .articulo--principal p,
html .articulo--principal h2 {
  color: #ffffff;
}
html .caja__contenido {
  background-color: #8841da;
}
html .caja span,
html .caja h3,
html .caja p,
html .caja a {
  color: #ffffff;
}
img {
  width: 100%;
}
img {
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
span,
p,
a {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.intro {
  width: 134rem;
  height: 65rem;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
          box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
}
.intro__imagen {
  width: 132rem;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 62.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 15.6rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
}
.intro__categoria,
.intro__titulo {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.intro__categoria {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  font-size: 5rem;
  line-height: 6rem;
}
.intro__autor {
  width: 15rem;
  margin: 0 auto;
  position: absolute;
  top: 40rem;
  left: 0;
  right: 0;
  line-height: normal;
  color: #ffffff;
}
.intro__autor img {
  width: 6rem;
  height: 5rem;
  float: left;
  padding-right: 1rem;
  border-radius: 10rem;
}
.intro__autor span {
  display: inline-block;
  line-height: normal;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
}
.articulo--principal {
  max-width: 66rem;
  margin: 4rem auto 4rem;
}
.articulo--principal__intro {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin: 0 0 1rem;
}
.articulo--principal p {
  margin-bottom: 1rem;
}
.articulo--principal h2 {
  margin: 4rem 0 0;
  text-align: center;
  font-size: 5rem;
  line-height: 6rem;
}
.articulo--principal h3 {
  margin: 0 0 1rem;
  font-size: 2rem;
  line-height: 3rem;
  color: #8841da;
}
.contenedor--cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140rem;
  margin: 0 auto;
}
.caja {
  max-width: 43rem;
  -webkit-box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
          box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.5);
}
.caja__contenido {
  padding: 2.5rem;
  background-color: #ffffff;
}
.caja h3 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 1.5rem;
}
.caja p {
  margin-bottom: 1rem;
}
.caja span {
  color: #8841da;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.caja a {
  color: #012179;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
