* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  color: #333;
}
.buscador {
  width: 100%;
  height: 25rem;
  padding: 10rem;
  background: url("../images/cover.jpg") no-repeat center;
  background-size: cover;
}
.buscador__input {
  width: 75%;
  height: 6rem;
  padding: 2rem;
  font-size: 2.5rem;
  border: none;
  border-radius: 3rem;
  outline: none;
}
.encabezado--con-filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
}
.encabezado--con-filtros h2 {
  margin-top: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.encabezado--con-filtros .filtros {
  width: 25rem;
  height: 7.5rem;
  padding: 2rem;
  margin-left: auto;
}
.encabezado--con-filtros .filtros span {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.encabezado--con-filtros .filtros a {
  margin-left: 2rem;
  font-size: 2.5rem;
}
